# runtime dependencies
matplotlib>=2.1.0
numpy>=1.13.3,<3.0
scipy>=1.0.0

# docs
Sphinx
sphinx-copybutton
sphinx-math-dollar
sphinx-mdinclude
sphinx-prompt
sphinxcontrib-bibtex
sphinx-book-theme
sphinxcontrib-video
